{% extends 'polls/base.html' %}
{% block content %}

<div>
    <h1 align = "center">List of Suggestions</h1>
    {% if suggestion_list %}
    <ul class = "list-group">
        {% for suggestion in suggestion_list %}
        <li class = "list-group-item">
            <strong>Title: </strong>{{ suggestion.name }}
            <br>
            Text: {{ suggestion.body}}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No suggestions have been submitted</p>
    {% endif %}
</div>

{% endblock %}