<h1>Suggestions</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<br>
<form action = "{% url 'polls:suggestions' %}" method = "post">
{% csrf_token %}
    Title: <input type="text" name="title">
    <br>
    Body: <br>
    <textarea rows="8" name="body" cols="80"></textarea>
    <br>
    <button type="submit" value="Submit">Submit</button>
</form>

<li><a href="{% url 'polls:index' %}">Go back to the index </a><br></li>
<li><a href="{% url 'polls:suggestions_list' %}">See all suggestions </a></li>